multiple_sensitivity/bash_output/*
multiple_sensitivity/R_output/*
!multiple_sensitivity/R_output/.gitkeep
!multiple_sensitivity/bash_output/.gitkeep
multiple_sensitivity/flagged_results
multiple_sensitivity/.DS_Store
.DS_Store
single_sensitivity/bash_output/*
single_sensitivity/R_output/*
single_sensitivity/docker_output/*
!single_sensitivity/R_output/.gitkeep
!single_sensitivity/bash_output/.gitkeep
!single_sensitivity/docker_output/.gitkeep
