multiple_sensitivity/bash_output/*
multiple_sensitivity/R_output/*
!multiple_sensitivity/R_output/.gitkeep
!multiple_sensitivity/bash_output/.gitkeep
multiple_sensitivity/flagged_results
multiple_sensitivity/.DS_Store
.DS_Store
single_sensitivity/bash_output/*
single_sensitivity/R_output/*
single_sensitivity/docker_output/*
!single_sensitivity/R_output/.gitkeep
!single_sensitivity/bash_output/.gitkeep
!single_sensitivity/docker_output/.gitkeep
.Rproj.user
*.Rproj
*.Rhistory
!test_set/docker_output/
!test_set/R_output/.gitkeep
test_set/slapnap*.csv
test_set/*.html
test_set/*.log
